In [11]:
!pip install opendatasets
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Collecting tqdm (from opendatasets)
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 186.5 kB/s eta 0:00:00a 0:00:01
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.6.0.tar.gz (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.5/84.5 kB 1.1 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Collecting click (from opendatasets)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: six>=1.10 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from kaggle->opendatasets) (2023.5.7)
Requirement already satisfied: python-dateutil in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from kaggle->opendatasets) (2.31.0)
Collecting python-slugify (from kaggle->opendatasets)
  Downloading python_slugify-8.0.1-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: urllib3 in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from kaggle->opendatasets) (1.26.16)
Requirement already satisfied: bleach in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from kaggle->opendatasets) (6.0.0)
Requirement already satisfied: webencodings in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle->opendatasets)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.2/78.2 kB 82.9 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from requests->kaggle->opendatasets) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from requests->kaggle->opendatasets) (3.4)
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.9/97.9 kB 98.4 kB/s eta 0:00:00a 0:00:01m
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 996.4 kB/s eta 0:00:000:00:01
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.6.0-py3-none-any.whl size=111911 sha256=10c4ff0c40e323c4e1460a109ce2e696961b4c816e0c9583e94c2592cf8b6153
  Stored in directory: /Users/marcin/Library/Caches/pip/wheels/68/bf/63/c008a2e9d0a97c5c5f0546c60f6defb442d44bee2d09fce59b
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, click, kaggle, opendatasets
Successfully installed click-8.1.7 kaggle-1.6.0 opendatasets-0.1.22 python-slugify-8.0.1 text-unidecode-1.3 tqdm-4.66.1
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.1.4-cp39-cp39-macosx_10_9_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/marcin/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Downloading pandas-2.1.4-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 1.0 MB/s eta 0:00:0000:0100:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 1.1 MB/s eta 0:00:00a 0:00:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 1.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4

In [ ]:
import opendatasets as od
 
od.download("https://www.kaggle.com/datasets/stackoverflow/stacksample/")

In [28]:
import pandas as pd
from io import StringIO

df = pd.read_csv('stacksample/Answers.csv', encoding = "ISO-8859-1")

df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."

In [29]:
df = pd.read_csv('stacksample/Tags.csv', encoding = "ISO-8859-1")

df.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [30]:
import pandas as pd
from io import StringIO

df = pd.read_csv('stacksample/Questions.csv', encoding = "ISO-8859-1")

df.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...